/*************************************/
/* ************* ABOUT ************* */
/*************************************/

.about {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  margin: 20px;
}
