/*************************************/
/* ************* ABOUT ************* */
/*************************************/

.about-page {
  display: flex;
  flex: 1;
  flex-direction: column;

  > div:nth-of-type(1) {
    display: flex;
    flex: 1;
    background: transparent;
    flex-direction: column;
    @media screen and (min-width: 1096px) {
      flex-direction: row;
    }

    >div{
        flex: 1;
        // background: blue;
        margin: 10px;
        &:last-of-type{
          flex: 4;
          display: flex;
        background: transparent;
        flex-direction: column;
        // @media screen and (min-width: 1096px) {
        //   flex-direction: row;
        // }
        >div{
          margin: 10px;
          background: rgba(255, 255, 255, 0.692);
          flex: auto;
          text-align: center;
          flex-direction: column;
          display: flex;
          >div{
            display: flex;
            flex-direction: row;
            align-self: center;
            margin:0 10px;
            align-items: center;
            &:last-of-type{
              align-self: flex-start;
              flex-direction: column;
              margin-top: 10px;
              span {
                font-size: 0.7em;
                font-weight: 200;
                margin-bottom: 10px;
              }
            }
            >div {
              display: flex;
              align-items: center;
              span {
                font-size: 0.9em;
                font-weight: 200;
              }
            }
            img {
              width: 64px;
              height: 64px;
              margin-right: 10px;
            }
          }

        }
        }
      }
    }



  }

