
/*************************************/
/* ************* Pricing ************* */
/*************************************/

.pricing-page {
  display: flex;
  flex: 1;
  flex-direction: column;

  > div:nth-of-type(1) {
    display: flex;
    flex: 1;
    background: transparent;
    flex-direction: column;
    @media screen and (min-width: 1096px) {
      flex-direction: row;
    }

    >div{
        flex: 1;
        // background: blue;
        margin: 10px;
        &:last-of-type{
          flex: 4;
          display: flex;
        background: transparent;
        flex-direction: column;
        // @media screen and (min-width: 1096px) {
        //   flex-direction: row;
        // }
        >div{
          margin: 10px;
          background: rgba(255, 255, 255, 0.692);
          overflow-x: auto;
          // overflow-y: visible;
          flex: auto;
          text-align: center;
          flex-direction: column;
          display: flex;


          >div{
            display: flex;
            flex-direction: row;
            align-self: center;
            margin:0 10px;
            align-items: center;
            &:last-of-type{

              flex-direction: column;

              width: 100%;
              span {
                font-size: 0.7em;
                font-weight: 200;
                margin: 10px;
              }
              table{
                align-self: flex-start;
                width: 100%;
                padding: 10px;
                border-collapse: collapse;
                font-size: 0.6em;
                font-weight: 200;

                tr{
                  background:rgba(240, 240, 240, 0.8);
                  &:nth-child(even){
                    background: rgba(255, 255, 255, 0.8);
                  }
                  th{
                    background: #3aa3e9b4;
                    font-weight: 400;
                    font-size: 1.1em;
                    padding:1em;
                  }
                  td{
                    padding:1em;
                  }
            }
            }

            }
            >div {
              display: flex;
              align-items: center;
              span {
                font-size: 0.9em;
                font-weight: 200;
              }
            }
            img {
              width: 64px;
              height: 64px;
              margin-right: 10px;
            }
          }

        }
      }

      }
    }
  }





