/***************************************/
/* ************* RECOVER ************* */
/***************************************/

@import './autoprefix';

.recover-component {
  display: flex;
  flex-direction: column;
  background: #ffffffba;
  padding: 25px 40px;
  box-shadow: 0px 8px 0px #000000ba;
  font-size: 0.8em;
  font-weight: 400;
  @include autoprefix(animation, fade-in .5s cubic-bezier(0, 1, 0.5, 1));

  @keyframes fade-in {
    0% {
      opacity: 0;
      @include autoprefix(transform, translateY(50px));

    }
    100% {
      opacity: 1;
      @include autoprefix(transform, translateY(0px));
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 1em;
    width: 512px;
    align-self: center;
  }

  .labels {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    span {
      margin: 2px;
      font-size: 0.5em;

      &:first-of-type {
        font-size: 1.5em;
        border-left: 3px solid black;
        padding-left: 37px;
        @include autoprefix(transform, translateX(-42px));
      }
    }
  }

  .input-field {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 5px 0px;

    > div {
      display: flex;
      flex-direction: row;
    }

    input {
      height: 100%;
      place-self: center;
      padding: 5px 0px;

      &:placeholder-shown {
        place-self: flex-end;
      }

      &[type='text'] {
        flex: 1;
        font-size: 0.7em;
        font-weight: 300;
        background: transparent;
        border: none;
        transition: font-size 0.1s ease-in;

        &:focus {
          font-size: 0.8em;
          place-self: center;
          outline: none;
        }
      }
    }

    img {
      height: 42px;
      padding: 5px;
    }

    &::after {
      content: '';
      position: relative;
      border-bottom: 1px solid black;
      width: 0px;
      left: 50%;
      transition: .2s ease-in-out;
    }

    &:focus-within::after {
      width: 100%;
      left: 0%;
    }
  }

  input[type='button'] {
    color: white;
    font-size: .8em;
    font-weight: 300;
    margin-top: 20px;
    background: black;
    padding: 5px 0px;
    border: 1px solid black;
    cursor: pointer;
    transition: .1s ease-in-out;

    &:hover {
      color: black;
      background: transparent;
      @include autoprefix(backdrop-filter, blur(5px));
    }
  }

  > span {
    margin: 5px 0px;
    font-size: .5em;
  }
}
