/***************************************/
/* ************* SIDEBAR ************* */
/***************************************/

@import './autoprefix';

.sidebar {
  font-size: 1em;
  width: 250px;
  max-width: 250px;
  min-height: 100vh;
  color: white;
  background: #1d1d1d;
  transition: max-width .2s ease-in-out;

  > div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.8em;
    border-bottom: 1px solid #848484;

    @media screen and (min-width: 768px) {
      justify-content: center;
    }

    img {
      width: 48px;
      height: 48px;
      margin: 8px;
      margin-right: 20px;
    }
  }

  > div:last-of-type {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin: 10px;

    li {
      margin: 20px 0px;
      cursor: pointer;

      a {
        display: flex;
        align-items: center;
      }

      img {
        width: 32px;
        height: 32px;
        margin-right: 5px;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
