/**************************************/
/* ************* SIGNUP ************* */
/**************************************/

@import './autoprefix';

.signup-component {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 25px 40px;
  box-shadow: 0px 8px 0px black;
  font-size: 0.8em;
  font-weight: 400;
  @include autoprefix(animation, fade-in .5s cubic-bezier(0, 1, 0.5, 1));

  @keyframes fade-in {
    0% {
      opacity: 0;
      @include autoprefix(transform, translateY(50px));

    }
    100% {
      opacity: 1;
      @include autoprefix(transform, translateY(0px));
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 1em;
    width: 512px;
    align-self: center;
  }

  > div {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-height: 350px;

    > div {
      display: flex;
      flex-direction: column;
      opacity: 1;
      width: 100%;
      transition: 0.2s ease-in-out;

      &.hide {
        height: 100px;
        width: 0;
        opacity: 0;
      }

      > img {
        width: 128px;
        height: 128px;
        padding: 16px;
        margin: 10px;
        border-radius: 80px;
        align-self: center;
      }

      &.success {
        img {
          background: #25773880;
        }

        span {
          &:first-of-type {
            align-self: center;
            letter-spacing: 2px;
          }

          &:last-of-type {
            text-indent: 1.5em;
            font-size: .7em;
            margin-bottom: 5px;
          }
        }

        a {
          text-decoration: underline;
        }
      }

      &.error {
        img {
          background: #e2e2e2;
        }

        span {
          align-self: center;

          &:first-of-type {
            letter-spacing: 2px;
          }

          &:last-of-type {
            font-size: .8em;
            margin-bottom: 5px;
          }
        }
      }

      &.loading {
        position: relative;
        left: 25%;
      }
    }
  }

  .labels {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    span {
      margin: 2px;
      font-size: 0.5em;

      &:first-of-type {
        font-size: 1.8em;
        border-left: 3px solid black;
        padding-left: 37px;
        @include autoprefix(transform, translateX(-42px));
      }
    }
  }

  > span {
    margin: 5px 0px 2px;
    font-size: .5em;
  }

  > button {
    font-size: .8em;
    margin-top: 20px;
  }
}
