/*********************************************/
/* ************* USERNAVIGAION ************* */
/*********************************************/

@import './autoprefix';

.user-navigaion {
  height: 65px;
  max-height: 65px;
  border-bottom: 1px solid #848484;

}
